.menu {
    background-color: #272525;
    color: #fff;
    border-radius: 10px;
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
  }

  .menu h1 {
    font-size: 24px;
  }

  .menu-button {
    background-color: gray;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 180px;
    border: none;
    cursor: pointer;
    width: 240px;
  }

  .menu-button:hover {
    background-color: lightgray;
  }