.title {
  text-align: center;
  font-size: 24px; /* Adjust the font size as needed */
  margin-top: 20px; /* Add some top margin for spacing */
  margin-bottom: 20px;
}

.pieces-container {
  width: 600px;
  height: 350px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 10px; /* Add some top margin for spacing */
  margin-bottom: 10px;
}

.piece-image {
  margin: 5px; /* Adjust the margin value as needed */
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  border: 2px solid black;
  margin-top: 20px;
  width: max-content; /* Allow the board to expand to the full width of its content */
  margin: 0 auto; /* Center the board horizontally */
  margin-bottom: 20px;

}

.square {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 2px solid black;
  transition: background-color 0.3s;
  border-radius: 50%
}

.square:hover {
  background-color: gray;
}

.background {
  background-color: rgb(225, 228, 215);
}

.label-solution {
  margin-left: 20px;
  align-items: center;
}

.A {
  background-color: #E71D10;
}

.B {
  background-color: #EB68A4;
}

.C {
  background-color: #FFBCDE;
}

.D {
  background-color: #077FC8;
}

.E {
  background-color: #FCE22C;
}

.F {
  background-color: #B76AB0;
}

.G {
  background-color: #6D3E8F;
}

.H {
  background-color: #83C789;
}

.I {
  background-color: #F36E23;
}

.J {
  background-color: #00A235;
}

.K {
  background-color: #F6B736;
}

.L {
  background-color: #87C3E7;
}

.highlighted {
  border: 2px solid #007BFF; 
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  background-color: #007BFF; /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 10px 20px; /* Adjust padding for spacing */
  border: none; /* Remove the border */
  border-radius: 5px;
  cursor: pointer; /* Add a pointer cursor on hover */
  margin-left: 10px;
}