body {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-top: 20px;
}

#three-container {
  height: 400px;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.button-container {
  display: flex;
  margin-top: 20px;
}

.label-solution {
  margin-left: 20px;
  align-items: center;
}
